.newsArea{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.upperRow{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.upperRow button{
    background-color: #0c57a2;
    padding: 0 20px;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.lowerRow{
    display: flex;
    gap: 10px;
    width: 80vw;
    /* height: 100vh; */
    flex-wrap: nowrap;
    overflow: auto;
    margin: 20px 10vw;
}
.container{
    display: inline-block;
    min-width: 280px;
    height: 570px;
    border-radius: 5px;
    padding: 2px;
    background-color: #fff;
}
.cardArea{
    border-radius: 3px;
    background-image: url("https://images.indianexpress.com/2023/10/noni-juice.jpg?w=640");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.newsImg{
    height: 60%;
    border-radius: 10px 10px 0 0;
}
.newsContent{
    overflow: hidden;
    height: 200px;
    background-color: #fff;
    margin-top: 112%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    transition: 1s ease-in-out;
}
.newsContent:hover{
    height: 370px;
    margin-top: 50%;
    border-radius: 8px 8px 0 0 ;
}
.newsContent h3{
    margin-top: 10px;
    text-align: center;
    color: #0c57a2;
}
.tags{
    background-color: rgba(195, 194, 194, 0.281);
    color: #000000b4;
    font-size: .8rem;
    padding: 0 10px;
    border-radius: 3px;
}
.newstext{
    font-size: .9rem;
    color: #000000de;
    text-align: justify;
    padding: 0 10px;
}
.footer{
    /* border-top: 1px solid #0c57a2; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* height: 8%; */
    background-color: #fff;
}
.footer button{
    font-size: 1.1rem;
    background-color: #fff;
    border: 1px solid #0c57a2;
    color: #0c57a2;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
.footer button:hover{
    background-color: #0c57a2;
    border: 1px solid #0c57a2;
    color: #fff;
}

@media screen and (max-width: 840px) {
    .lowerRow{
        padding: 20px 5vw;
    }
}