@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300&family=Roboto:wght@300;500;700;900&display=swap");

:root {
  --clr-background: #081158;
  --clr-button: #e931d6;
  --clr-general: #ffffff;
  --text-font: "Roboto", "Poppins";
  --clr-red: #b52626;
  --clr-yellow: #f6e069;
  --clr-navlink: #081158;
}
