.mainContainer {
  margin-top: 2%;
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 25px;
  width: 100%;
  max-width: 100%;
}
.upperRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0c57a2;
}

.upperRow .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.upperRow .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.upperRow .heading h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  background: rgb(131, 128, 128);
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.upperRow .btn {
  margin-top: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
}

.upperRow button {
  width: 30%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 5px 15px;
  border-radius: 40px;
  border: 1px solid #0c57a2;
  color: #0c57a2;
  background-color: #fff;
  cursor: pointer;
}
.upperRow button:hover {
  border: 1px solid #0c57a2;
  background-color: #0c57a2;
  color: #fff;
}
.midRow {
  padding: 10vh 10vw;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 20px;
}
.icon {
  cursor: pointer;
}
.testimonialArea {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main p {
  color: #00000098;
}
.main button {
  color: #0c57a2;
  font-size: 1rem;
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid #0c57a2;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.main button span {
  font-size: 0.7rem;
}
.main button:hover {
  border: 1px solid #0c57a2;
  background-color: #0c57a2;
  color: #fff;
}

.testimonialArea img {
  height: 13vw;
  width: 13vw;
  border-radius: 50%;
}
.ownTest {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 2%;
}
.ownTestimonial {
  display: flex;
  text-align: center;
  width: 40%;
  font-size: 1.4rem;
  border: 1px solid #0c57a2;
  background-color: #fff;
  color: #0c57a2;
  padding: 5px 10px;
  width: max-content;
  margin: 0 10px 0 auto;
  cursor: pointer;
}
.ownTestimonial:hover {
  background-color: #0c57a2;
  color: #fff;
}

@media screen and (max-width: 450px) {
  .container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .upperRow {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .midRow {
    width: 100%;
    margin: 0;
  }
  .testimonialArea {
    flex-direction: column;
  }
  .testimonialArea img {
    width: 200px;
    height: 200px;
  }

  .upperRow .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .upperRow .btn {
    width: 100%;
  }

  .upperRow .heading h1 {
    width: 100%;
  }

  .upperRow .btn {
    width: 100%;
    margin-top: 10%;
  }

  .main {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
