.container {
  height: 300px;
  background-color: #081158;
  color: white;
}

.container .title {
  width: 50%;
  font-size: 2rem;
  float: left;
  margin-top: 5%;
  padding: 2%;
}

.container .info {
  width: 50%;
  float: right;
  padding: 2%;
  margin-top: 7%;
}

.container .info ul li {
  list-style: none;
  font-size: larger;
  display: inline;
  margin: 5%;
}

.container .info ul li a {
  color: white;
}

.container .info ul li a:hover {
  color: #e931d6;
  text-decoration: underline;
  cursor: pointer;
}
