.container{
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 25px;
}
.upperRow{
    display: flex;
    padding-left: 18vw;
    margin-left: 10vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #0c57a2;
}
.upperRow h1{
    font-size: 2.5rem;
}
.upperRow button{
    font-size: 1.3rem;
    padding: 5px 15px;
    border: 1px solid #0c57a2;
    color: #0c57a2;
    background-color: #fff;
    cursor: pointer;
}
.upperRow button:hover{
    border: 1px solid #0c57a2;
    background-color: #0c57a2;
    color: #fff;
}
.midRow{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 20px;
}
.icon{
    cursor: pointer;
}
.testimonialArea{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main p{
    color: #00000098;
}
.main button{
    color: #0c57a2;
    font-size: 1rem;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #0c57a2;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.main button span{
    font-size: .7rem;
}
.main button:hover{
    border: 1px solid #0c57a2;
    background-color: #0c57a2;
    color: #fff;
}

.testimonialArea img{
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
}
.ownTestimonial{
    font-size: 1.4rem;
    border: 1px solid #0c57a2;
    background-color: #fff;
    color: #0c57a2;
    padding: 5px 10px;
    width: max-content;
    margin: 0 10px 0 auto;
    cursor: pointer;
}
.ownTestimonial:hover{
    background-color: #0c57a2;
    color: #fff;
}

@media screen and (max-width: 450px) {

    .upperRow{
        margin-left: 0;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .midRow{
        width: 100%;
        margin: 0;
    }
    .testimonialArea{
        flex-direction: column;
    }
    .testimonialArea img{
        width: 90px;
        height: 90px;
    }
}