@import "../../Vars.css";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background: white;
  z-index: 1;
}
.nav img {
  width: 200px;
  height: 60px;
  margin-left: 160px;
  border-radius: 4px;
  cursor: pointer;
}
.links {
  display: flex;
  align-items: center;
  margin-right: 25px;
  list-style: none;
  font-size: 20px;
  font-weight: 650;
}

.links li {
  margin-right: 2.5rem;
}

.links li:hover {
  text-decoration: underline;
}

.links i,
a {
  color: var(--clr-navlink);
  cursor: pointer;
}
